
/* HTML5 display-role reset for older browsers */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  text-wrap: balance;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  line-height: 1.5;
}

/* end of CSS reset */

:root {
  font-family: system-ui;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: oklch(26.03% 0 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}