
/* HTML5 display-role reset for older browsers */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  text-wrap: balance;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  line-height: 1.5;
}

/* end of CSS reset */

:root {
  font-family: system-ui;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  --text-color: oklch(95% 0 0);
  --background-color: oklch(26.03% 0 0);
  --background-color-lighter: oklch(30% 0 0);
  --primary-color: oklch(60.02% 0.104 184.7);
  --primary-color-hover: oklch(51.09% 0.086 186.39);
  --primary-color-disabled: oklch(38.61% 0.059 188.42);
  --secondary-color: oklch(21.78% 0 0);
  --secondary-color-transparent: oklch(21.78% 0 0 / 0.75);

  color: var(--text-color);
  background-color: var(--background-color);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}